body{
    margin: 0;
    padding: 0;
}
/*#container{
    margin: 0 200px;
    border-radius: 20px;
    padding-top: 1px;
}*/
.circle{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px; 
	color: white;
	font-size: 1.5em;
}

.clear{
	clear: both;
}

.LIST {
	list-style-type: none;
}

.last {
	background-color: orange;
}