<!DOCTYPE html>
<html>
    <head>
        <title>Mentor Homepage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--jQuery
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        -->
        <!--BootStrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/bootstrap.min.js"></script>-->
        
        <!-- My CSS file -->
        <link rel="stylesheet" type="text/css" href="mentor.css">
        <!-- My JavaScript file -->
        <script type="text/javascript" src="javascript.js"></script>
        <!--Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <!--Font Awesome-->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div id="container">
            <section id="personalInfo">
                <div id="left">
                    <h1>My<span id="surname">Mentor</span></h1>
                </div>
                <div id="right">
                    <h1>Me</h1>
                </div>
                <div>
                    <div class="circle" id="left">
                        
                    </div>
                    <div class="circle" id="right">
                        
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <div class="circle" id="left">
                    
                    </div>
                    <div class="circle" id="right">
                        
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <div class="circle" id="left">
                     
                    </div>
                    <div class="circle" id="right">
                        
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <div class="circle" id="left">
                    
                    </div>
                    <div class="circle" id="right">
                        
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </div>    
    </body>
</html>

<!-- TODO:
Have name fade in?
Shadow under name?
When you hover over my skills its adds programming terms (printf("C"); or alert(""JavaScript))
SEO
Check speed
-->

<!--
STEM includes:    
Computer Science    
Mathematics
Science
New Technologies
-->
