        <div id="container">
            <section id="personalInfo">
                <div class="pull-left">
                    <h1>My<span id="surname">Mentor</span></h1>
                </div>
                <div class="pull-right">
                    <h1>Me</h1>
                </div>
                <div class="clear"></div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="LIST">
                                <li><div class="circle"><p>Math<br/>Chemistry</p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>UNSW</p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>Macdonalds<br>Cashier</p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>Junior Investment<br/>Manager</p></div></li>
                                <li><hr/></li>
                                                                <li><div class="circle"><p>Junior Investment<br/>Manager</p></div></li>
                                <li><hr/></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="LIST">
                                <li><div class="circle"><p>Math<br/>Physics</p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>USYD<br></p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>Ben and Jerrys<br/>Icecream scooper</p></div></li>
                                <li><hr/></li>
                                <li><div class="circle"><p>Bank Clerk</p></div></li>
                                <li><hr/></li>
                                                                <li><div class="circle last"><p>Junior Investment<br/>Manager</p></div></li>
                                <li><hr/></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
<!-- TODO:
Have name fade in?
Shadow under name?
When you hover over my skills its adds programming terms (printf("C"); or alert(""JavaScript))
SEO
Check speed
-->

<!--
STEM includes:    
Computer Science    
Mathematics
Science
New Technologies
-->
