<div class="container">
    <h1>Entrepreneurship</h1>
    <div class="row" class="mentor-list" ng-repeat="people in data">
        <div class="col-md-4 profile" ng-repeat="person in people">
            <div class="thumbnail">
                <img class="mentor-picture" src="https://pbs.twimg.com/profile_images/577804465836679168/00f6sBxi_400x400.jpeg">
                <div class="caption">
                    <h3><a href="#/mentor/gio">Gio!</a></h3>
                    <p>A true startup visionary! belehhdwhadwhadhwahdhawdha hdwahdwah hdwahdwha</p>
                    <a ng-href="#/mentor/gio" class="btn btn-default">View</a>
                    <a ng-href="#/connect/gio" class="btn btn-primary">Connect</a>
                </div>
            </div>
        </div>
    </div>
</div>
